:root {
  --primary: #ffbe66;
  --secondary: #baf6f0;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
html {
  font-size: 100%;
  }
a{
  text-decoration:none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem 10vw;
}
.header__link {
  color: black;
  margin: 0.5rem 1rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
}
.header__menu--mobile{
  display:none;
  margin-left:auto;
}
.header__link:first-of-type {
  margin-right: auto;
  margin-left: 0.5rem;
}
.drawer {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color:white;
  transition: left 0.3s ease-in-out;
}

.drawer.open {
  left: 0;
  display:block;
}

.drawer__menu {
padding:0.5rem;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}
.drawer__menu > a{
  z-index:999;
  padding:1rem 0.5rem;
  color:black;
  letter-spacing: 0.15rem;
  font-weight: bold;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary);
  color: white;
}
h1 {
  font-weight: bold;
  font-size: 6rem;
  margin: 0;
}

.main__button {
  padding: 1rem 5rem;
  background-color: var(--secondary);
  color: black;
  border: none;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__image {
 width:1024px;
 max-width:100%;
  aspect-ratio: 16/9;
}
.explanation {
  padding: 4rem 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.explanation__topic {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.explanation__text {
  text-align: center;
  max-width: 75ch;
}
.selection {
  background-color: var(--secondary);
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.selection__text {
  font-size: 2rem;
}
.selection__products {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
}
.selection__products__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 6rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.selection__products__card__image {
  width: 200px;
}
.selection__products__card > * {
  margin: 0.5rem 0;
}
.selection__products__card__button {
  padding: 0.5rem 4rem;
  border: none;
  background-color: var(--primary);
  font-weight: bold;
  font-size: 1.25rem;
}
.rules{
  background-image:url('images/bg-grid.png');
  background-repeat:no-repeat;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:5rem 10vw;
}
.rules__image{
  width:33%;
  margin:2rem;
}
.rules__caption{
  display:flex;
  flex-direction:column;
  flex-grow:2;
}
.rules__caption> h3{
  font-weight:bold;
  font-size:2rem;
}
footer{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  padding: 1rem 10vw;
  background-color:#383434;
  font-size:0.75rem;
}
footer > a{
  color:white;

}
footer > a:first-of-type{
  font-weight:bold;
}
@media (max-width:1024px) {
  .rules{
    flex-wrap:wrap;
    text-align:center;
  }
  .rules__image{
    width:100%;
  }
  footer{
    flex-direction:column;
  }
  footer > a {
    margin:0.5rem 0;
    justify-content:center;
    align-items:center;
  }
  main{
    padding:0 10vw;
  }
}

@media (max-width:768px) {
  .header__link{
    visibility:hidden;
  }
  .header__menu--mobile{
    display:block;
  }
}
@media (max-width:480px) {
  .selection__products__card{
    margin:1rem auto;
  }
 
}

